/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Стилі для героїчного зображення */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('img/image.png'); /* Заміни на своє зображення */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* Стилі для каталогу товарів */
.product-catalog {
    padding: 40px 0;
    background-color: #fff;
}

.product-catalog h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.category h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Стилі для карток товарів */
.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    width: 48%;  /* Для двох карток в ряд */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 15px;
}

.product-card button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #218838;
}

/* Стилі для відгуків */
.reviews {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.reviews h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.review {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.review span {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-top: 5px;
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


button a{
    text-decoration: none;
    color: #fff;
}